{% if rails_database_url is defined %}DATABASE_URL='{{ rails_database_url }}'{% endif %}

RAILS_ENV='{{ rails_environment }}'
{% if rails_master_key is defined %}RAILS_MASTER_KEY='{{ rails_master_key }}'{% endif %}

{% if rails_secret_key_base is defined %}SECRET_KEY_BASE='{{ rails_secret_key_base }}'{% endif %}
